.panel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

}

.panel-default {
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel.collapsible-panel>.panel-heading {
    padding-right: 30px;
    position: relative;
    cursor: pointer;
}

.panel.collapsible-panel>.panel-heading {
    background-color: #fff;
    color: #444;
    border-bottom: 1px solid #f4f4f4;
    padding-left: 45px;
}

.panel.collapsible-panel .panel-heading div.icon-container {
    width: 45px;
    position: absolute;
    left: 0;
    /* top: 11px; */
    text-align: center;
}

.panel.collapsible-panel .panel-heading i.toggle-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 12px;
}
.panel-body {
    padding: 15px;
}