<div class="jumbotron">

    <h2>What is Net Present Value(NPV)?</h2>
    <p class="lead">
        Net present value(NPV) is the difference between the present value of cash inflows and the present value of cash outflows over a period of time.
        NPV is used in capital budgeting and investment planning to analyze the profitability of a projected investment or project.
    </p>

    <p><a href="https://en.wikipedia.org/wiki/Net_present_value" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
